
.external-style {
    /* 1.3.1 */
    text-align: center; 
    /* 1.3.2 */
    font-family: Arial, sans-serif;
    /* 1.3.3 */
    font-weight: bold; 
    /* 1.3.4 */
    letter-spacing: 2px;
    background-color: blue;
}
